form{
    background-color: lightgray;
    border: 2px;
    border-style: groove;
    border-radius: 20px;
    padding: 10px;
}
body{
    padding-left: 400px;
    padding-right: 400px;
}
h2{
    text-align: center;
    color: lime;
}
label{
    font-weight: bolder;
}
.b1{
    background-color: lime;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}