form{
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0 , 0, 0.5);
}
body{
    padding-left: 500px;
    padding-right:500px;
}
h2{
    text-align: center;
    color: lime;
}
label{
    font-weight: bolder;
}
.b1{
    background-color: lime;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: white;
}
.b1:hover{
    background-color: green;
}


